<nav class="navbar  fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <!--   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Link</a>
           </li>
          
         </ul>
         
       </div> -->
  </nav>
  <main role="main" class="container profile-blog">
    <div class="row profile-top">
  
  
  
      <div class="col-md-12">
        <h4 class="text-center">1st Card</h4>
        <div class="img-profile">
          <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png">
        </div>
        <h2 class="text-center profile-name">Parkpoom</h2>
      </div>
  
    </div>
  
    <div class="row profile-content">
  
      <div class="col-md-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/profile.png">
            </div>
            <h5>ข้อมูลส่วนตัว</h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/pencil.png">
            </button>
            
          </li>
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/card.png">
            </div>
            <h5>Official card</h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/plus.png">
            </button>
          </li>
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/dna.png">
            </div>
            <h5>DNAs </h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/plus.png">
            </button>
          </li>
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/contact.png">
            </div>
            <h5>Contact List</h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/plus.png">
            </button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="favorites-tab" data-toggle="tab" href="#favorites" role="tab" aria-controls="favorites" aria-selected="true">Favorites</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="friend-tab" data-toggle="tab" href="#friend" role="tab" aria-controls="friend" aria-selected="false">Friends</a>
              </li>
             
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
                <div class="col-12 my-3">
                  <input type="text" class="form-control" id="search" placeholder="Search">
                  <ul class="list-unstyled telephone-list">
                    <li><span class="name">กชกร</span><span>+668 4234 5984</span><span class="phone-img"> <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png"></span></li>
                    <li><span class="name">มาริสา</span><span>+668 4234 5984</span><span class="phone-img"> <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png"></span></li>  
                    <li><span class="name">พัชรี</span><span>+668 4234 5984</span><span class="phone-img"> <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png"></span></li> 
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="friend" role="tabpanel" aria-labelledby="friend-tab">
                <div class="col-12 my-3">
                  <input type="text" class="form-control" id="search" placeholder="Search">
                  <ul class="list-unstyled telephone-list">
                    <li><span class="name">กชกร</span><span>+668 4234 5984</span><span class="phone-img"> <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png"></span></li>
                    <li><span class="name">มาริสา</span><span>+668 4234 5984</span><span class="phone-img"> <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png"></span></li>  
                    <li><span class="name">พัชรี</span><span>+668 4234 5984</span><span class="phone-img"> <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png"></span></li> 
                  </ul>
                </div>
              </div>
             
            </div>
          </li>
        </ul>
      </div>
  
    </div>
  </main>