<nav class="navbar  fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <!--   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
             <a class="nav-link" href="#">Home</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="#">Link</a>
           </li>
          
         </ul>
         
       </div> -->
  </nav>
  <main role="main" class="container profile-blog">
    <div class="row profile-top">
  
  
  
      <div class="col-md-12">
        <h4 class="text-center">1st Card</h4>
        <div class="img-profile">
          <img class="img-fluid" src="./assets/images/icon/1x/profile-img.png">
        </div>
        <h2 class="text-center profile-name">Parkpoom</h2>
      </div>
  
    </div>
  
    <div class="row profile-content">
  
      <div class="col-md-12">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/profile.png">
            </div>
            <h5>ข้อมูลส่วนตัว</h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/pencil.png">
            </button>
            
          </li>
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/card.png">
            </div>
            <h5>Official card</h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/plus.png">
            </button>
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <p class="official-info">Official / Organization (ออฟฟิเชียล/ องค์กร)</p>
                        <button type="button" class="icon-right">
                            <img src="./assets/images/icon/1x/plus.png">
                          </button>
                    </div>
                    <div class="col-12">
                      <label for="invitecode1">Invite code</label>
                      <input type="password" class="form-control" id="invitecode1" placeholder="invitecode">
                    </div>
                    <div class="col-12">
                      <label for="username1">Username</label>
                      <input type="text" class="form-control" id="username1" placeholder="username">
                    </div>
                    <div class="col-12">
                      <label for="password1">password</label>
                      <input type="password" class="form-control" id="password1" placeholder="password">
                    </div>
                    <div class="col-12 form-inline">
                        <div class="form-center">
                            <button type="button" class="btn btn-cancel ">ยกเลิก</button>
                            <button type="button" class="btn btn-save">บันทึก</button>
                        </div>
                        
                    </div>
                 </div>   
            </div>
          </li>
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/dna.png">
            </div>
            <h5>DNAs </h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/plus.png">
            </button>
          </li>
          <li class="list-group-item">
            <div class="icon">
              <img src="./assets/images/icon/1x/contact.png">
            </div>
            <h5>Contact List</h5>
            <button type="button" class="icon-right">
              <img src="./assets/images/icon/1x/plus.png">
            </button>
          </li>
        </ul>
        
      </div>
  
    </div>
  </main>