<nav class="navbar  fixed-top">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

<!--   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
    
  </div> -->
</nav>
<main role="main" class="container profile-blog">
    <div class="row profile-top">
     


        <div class="col-md-12">
            <h4 class="text-center">1st Card</h4>
            <div class="img-profile">
                <img class="img-fluid" src="./assets/icon/1x/profile-img.png">
            </div>
            <h2 class="text-center profile-name">Parkpoom</h2>
        </div>
        
    </div>
   
    <div class="row profile-content">
        
        <div class="col-md-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> 
                    <div class="icon">
                        <img src="./assets/icon/1x/profile.png">
                    </div>
                    <h5>ข้อมูลส่วนตัว</h5>
                     <button type="button" class="icon-right">
                         <img src="./assets/icon/1x/pencil.png">
                     </button>
                    <div class="clearfix"></div>
                    <div class="card-profile my-3">
                    <div class="row">
                        <div class="col-3">
                             <img class="img-fluid" src="./assets/icon/1x/profile-img.png">
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12">
                             <h4 class="name">Parkpoom Parkpoom</h4>
                            
                        </div>
                    </div>     
                    <div class="row">
                        <div class="col-9">
                         <ul class="detail-list">
                                <li><i class="fa fa-phone"></i> +66 622345678</li>
                                <li><i class="fa fa-envelope"></i> parkpoom@gmail.com</li>
                                <li><i class="fa fa-map-marker"></i> ทวีวัฒนา</li>
                             </ul>
                        </div>
                        <div class="col-3">
                        <img class="img-fluid" src="./assets/background/1x/qr.png">
                            
                        </div>
                           
                    </div>
                                             
                    </div>
                </li>
                <li class="list-group-item">
                <div class="icon">
                        <img src="./assets/icon/1x/card.png">
                    </div>
                    <h5>Official card</h5>
                    <button type="button" class="icon-right">
                         <img src="./assets/icon/1x/plus.png">
                     </button>
                </li>
                <li class="list-group-item">
                    <div class="icon">
                        <img src="./assets/icon/1x/dna.png">
                    </div>
                    <h5>DNAs </h5>
                    <button type="button" class="icon-right">
                         <img src="./assets/icon/1x/plus.png">
                     </button>
                </li>
                <li class="list-group-item"> 
                    <div class="icon">
                        <img src="./assets/icon/1x/contact.png">
                    </div>
                    <h5>Contact List</h5>
                    <button type="button" class="icon-right">
                         <img src="./assets/icon/1x/plus.png">
                     </button>
                </li>
            </ul>
        </div>
       
    </div>
</main>

